/* REQUEST BOOK */

.title {
	font-size: 22px;
	font-weight: bold;
}
.description {
	margin-top: 125px;
}

.addbook .btn-r {
	width:90%;
	position: absolute;
	bottom:16px;
	padding-left: 0;
    padding-right: 0;
}

/* USER LIST */
.user-info {
	list-style: none;
	display:flex;
}

.user-info > li {
	padding:10px;
}

.user-info > li.condition {
	font-style: italic;
}
