/*** Global Styles ***/

html, body {
	height:100%;
	width:100%;
	margin:0;
	font-family: Helvetica Neue, sans-serif;
	position:relative;
}

body {
	max-width:750px;
	max-height:1330px;
}

header {
	display:flex;
	justify-content:space-between;
	align-items:center;
	position:absolute;
	top:0;
	height:64px;
	width:100%;
	border-bottom:1px solid #999;
}

header > .btn:last-child {
	text-align: right;
}

main {
	position:absolute;
	top:64px;
	bottom:70px;
	width:100%;
	text-align:center;
	overflow:hidden;
}

main.scroll {
	overflow-y:auto;
}

nav {
	position:absolute;
	bottom:0;
	height:70px;
	width:100%;
	border-top:1px solid #999;
}

nav > ul {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	list-style: none;
	display:flex;
	align-items:stretch;
	overflow:hidden;
}

nav > ul > li {
	flex-basis: 25%;
	text-align: center;
}

nav > ul > li.active {
	background:#ddd;
}

nav > ul > li > a {
	padding: 20% 0;
    display: block;
    height: 60%;
    text-decoration:none;
    color:#111;
}

nav > ul > li > a > i {
	display:block;
	width:100%;
}

.sample-msg {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);

}

a.btn {
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-weight: bold;
    min-width:40px;
}

a.btn-outline {
	color: #000;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-weight: bold;
    border-radius:10px;
    border: 1px solid #222;
    min-width:40px;
}

a.btn-highlight {
	color: #fff;
	background:#222;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-weight: bold;
    border-radius:10px;
    min-width:40px;
}

/* Global Styles End */

/*** Add page-specific styles Here ***/

/*** HOME ***/
.media-row-title {
    margin-top: 35px;
    margin-bottom:15px;
    text-align: left;
    padding: 0 15px;
    font-size: 25px;
}

.media-row-title > i:last-child {
	float:right;
}
.media-row-title > a:last-child {
	color: #000;
	float:right;
}

.media-row {
	height:175px;
	overflow:auto;
	display: flex;
}

.media-row > figure {
	margin:0;
	padding:0 10px;
	height:100%;
}

.media-row > figure > img {
	margin:0 20px;
	height:80%;
	width:auto;
	max-width: 140px;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.media-row > figure > figcaption {
    height: 20%;
    white-space: nowrap;
    max-width: 125px;
    overflow: hidden;
    font-weight: bold;
    text-align: center;
    text-overflow: ellipsis;
    display: inline-block;
    padding-top: 5px;
}

/*** ADD BOOKS ***/

h3.addbook {
	width:55%;
}

img.camera {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
		padding: 150px;
		transform: rotate(90deg);

}

img.addbook {
	margin-top: 90px;
	margin-left: 130px;
}


h4.addbook {
	margin-top: -240px;
	margin-left: 320px;
	border-bottom:1px solid #999;
}

p.addbook {
	margin-left: 321px;
}

p.rectbtn {
    margin-left: 315px;
    margin-top: -34px;
}

/* i.far fa-square {
	font-size: 20px;
} */

/* p.addbookbtn {
	width:50px;
} */
