/*** Global Styles ***/

html, body {
	height:100%;
	width:100%;
	margin:0;
	font-family: Helvetica Neue, sans-serif;
	position:relative;
}

body {
	max-width:450px;
	max-height:750px;
}

header {
	display:flex;
	justify-content:space-between;
	align-items:center;
	position:absolute;
	top:0;
	height:64px;
	width:100%;
	border-bottom:1px solid #aaa;
}

header > .btn:last-child {
	text-align: right;
}

main {
	position:absolute;
	top:64px;
	bottom:61px;
	width:100%;
	text-align:center;
	overflow:hidden;
}

main.scroll {
	overflow-y:auto;
}

nav {
	position:absolute;
	bottom:0;
	height:60px;
	width:100%;
	border-top:1px solid #aaa;
}

nav > ul {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	list-style: none;
	display:flex;
	align-items:stretch;
	overflow:hidden;
}

nav > ul > li {
	flex-basis: 25%;
	text-align: center;
}

nav > ul > li.active {
	background:#ddd;
}

nav > ul > li > a {
	padding: 20% 0;
    display: block;
    height: 60%;
    text-decoration:none;
    color:#111;
    font-size:14px;
}

nav > ul > li > a > i {
	display:block;
	width:100%;
}

.sample-msg {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);

}

a {
	color:#000;
}

a.btn {
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-weight: bold;
    min-width:40px;
}

.btn-outline {
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-weight: bold;
    border-radius:10px;
    border: 1px solid #222;
    min-width:40px;
    text-align: center;
}

a.btn-highlight {
	color: #fff;
	background:#222;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-weight: bold;
    border-radius:10px;
    min-width:40px;
    text-align: center;
}

.btn-full {
	width:100%;
}

img {
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

input {
	font-size: 14px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #777;
}

select {
	font-size: 18px;
    font-weight: bold;
}

label {
	font-size: 14px;
	font-style: italic;
	color:#777;
}

.tile-column {
    display: inline-flex;
    flex-direction:column;
    width: 33%;
    float: left;
    margin-top:10px;
}

.tile {
	width:100%;
	display:block;
	padding: 2% 4%;
	box-sizing:border-box;
	position: relative;
}

.tile > img {
	width:100%;
	height:auto;
   	border:1px solid #eee;
}

.tile > h4 {
    position: absolute;
    font-size: 10px;
    color: #fff;
    bottom: 2%;
    padding: 2px 5px;
    text-align: left;
    background: #00000091;
    display: block;
    width: 92%;
    margin: 0 1px;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* Global Styles End */

/*** Add page-specific styles Here ***/

/*** HOME ***/
.media-row-title {
    margin-top: 35px;
    margin-bottom:15px;
    text-align: left;
    padding: 0 15px;
    font-size: 25px;
}

.media-row-title > i:last-child {
	float:right;
}

.media-row-title > a {
	text-decoration:none;
}

.media-row-title > a:last-child {
	color: #000;
	float:right;
}

.media-row {
	height:175px;
	overflow-y:hidden;
	overflow-x:auto;
	display: flex;
}

.media-row.small {
	height:100px;
}

.media-row > figure {
	margin:0;
	padding:0 10px;
	height:100%;
}

.media-row > figure > a img {
	margin:0 20px;
	height:80%;
	width:auto;
	max-width: 140px;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.media-row.small > figure > a img {
	height:100%;
	margin:0;
}

.media-row > figure > a figcaption {
    height: 20%;
    white-space: nowrap;
    max-width: 125px;
    overflow: hidden;
    font-weight: bold;
    text-align: center;
    text-overflow: ellipsis;
    display: inline-block;
    padding-top: 5px;
}

/*** ADD BOOK ***/

main.addbook {
	width:90%;
	padding: 15px 5%;
	text-align: left;
}

.addbook input {
	margin-bottom:15px;
}

.addbook img {
	float:left;
	margin-right:15px;
	margin-bottom: 15px;
}

.addbook .btn-full {
	width:90%;
	position: absolute;
	bottom:0;
	padding-left: 0;
    padding-right: 0;
}

.camera {
	display:block;
	position:absolute;
	top:50%;
	width:60%;
	margin:0 20%;
	transform:translateY(-50%) rotate(90deg);
}

/*** ADD COMMUNITY ***/

main.addcommunity {
	width:90%;
	padding: 15px 5%;
	text-align: left;
}

.addcommunity .btn-full {
	width:90%;
	position: absolute;
	bottom:0;
	padding-left: 0;
    padding-right: 0;
}


h3.addcommunity {
	width:56%;
}

form.communityform {
	padding-top:100px;
	margin-left:50px;
}

p.rectbtncomm {
  margin-left: 315px;
  margin-top: -42px;
}

/*** NOTIFICATIONS ***/

.alert {
    padding: 20px;
    padding-top: 115px;

}

.closebtn {
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.media-row.small > figure > a figcaption {
	display: none;
}


/*** COMMUNITY ***/
.list-description {
	background-color:#444;
	padding:0;
	list-style:none;
	display:flex;
	justify-content:space-around;
	flex-wrap: wrap;
	width:100%;
	color:#fff;
	height:80px;
	padding:10px 0;
	margin:0;
	margin-bottom:10px;
}

.list-description > li {
	position-relative;
	z-index:2;
}

.list-description > li.description {
	padding:10px;
	text-align: left;
	font-style: italic;
	text-indent: 15px;
	font-weight:200;
}

.books {
	display:flex;
	background:#eee;
	overflow-x:auto;
	height:200px;
/*	transform:rotate(-90deg);*/
	/*trasform-origin:50% 50%;*/
}

.books a {
	margin:0 1px;
	padding:10px 2px;
	font-size:12px;
	position: relative;
	display:block;
	width:auto;
	transform: rotate(-90deg);
	transform-origin:bottom right;
    min-width: 126px;
    max-height:100px;
    height: auto;
}

.books p {
	margin:0;
}


.books a:nth-child(n) {
	background-color: #444;
	border-top:2px solid #333;
	border-bottom:2px solid #555; 
	color:#eee;
	font-weight: 200;
}

.books a:nth-child(2n) {
	background-color: #666;
	border-top:2px solid #555;
	border-bottom:2px solid #555;
	font-style: italic; 
}

.books a:nth-child(3n) {
	background-color: #999;
	border-top:2px solid #888;
	border-bottom:2px solid #888;
	font-weight: bold; 
}

.bookshelf p:nth-child(4n) {
	left:4px;
}



.bookshelf {
	display:flex;
	flex-direction:column-reverse;
	width:33%;
	background:#eee;
	border-right:1px solid #ddd;
	overflow-y:auto;
	padding:0 10px;
	position: absolute;
    bottom: 0;
    top: 120px;
    right:0;
    display:none;
}

.bookshelf p {
	margin:1px 0;
	padding:2px 10px;
	font-size:12px;
	width:auto;
	position: relative;
}

.bookshelf p:nth-child(n) {
	background-color: #444;
	border-top:2px solid #333;
	border-bottom:2px solid #555; 
	color:#eee;
	left:-6px;
	font-weight: 200;
}

.bookshelf p:nth-child(2n) {
	background-color: #666;
	border-top:2px solid #555;
	border-bottom:2px solid #555;
	font-style: italic;
	left:8px;  
}

.bookshelf p:nth-child(3n) {
	background-color: #999;
	border-top:2px solid #888;
	border-bottom:2px solid #888;
	font-weight: bold;
	left:-3px;  
}

.bookshelf p:nth-child(4n) {
	left:4px;
}

.bookshelf p.empty {
	background: transparent;
	border: 15px solid #eeeeee;
}

.events {
	padding:0 15px;
}

.events h3 {
	text-align: left;
}

.events ul {
	list-style:none;
	padding:0 0 0 5px;
	margin-top:0;
	text-align: left;
}

.events li {
    margin-bottom: 8px;
    font-size: 14px;
    border: 1px solid #999;
    box-shadow: 1px 1px 3px #ddd;
    border-radius: 6px;
    display:flex;
}

.events strong {
    display: inline-block;
    flex-basis:33%;
    background: #888;
    padding: 9px 10px;
    color: #fff;
    border-radius: 4px 0 0 4px;
}

.events span {
    padding: 9px 10px;
    display:inline-block;
    flex-basis:66%;
}

.fiction-bg {
	position:relative;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
	background:url(img/fiction.png) no-repeat center top fixed;
	background-size: contain;
}

.fiction-bg::before {
	content:'';
	width:100%;
	height:100%;
	background:red;
	position:absolute;
	top:0;
	left:0;
	z-index: 1;
	opacity:0.5;
}

/* PROFILE */
.profile-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: block;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding:15px 30px;
}


.profile-row > i:first-child {
	float:left;
}

.profile-row > h4 {
	font-size: 20px;
    text-align: right;
    margin-top: 5px;
    margin-bottom: 15px;
}

.stats {
	text-align:right;
}

.media-row.long-caption {

}

.media-row.long-caption > figure {
	position: relative;
	margin: 0 20px;
    padding: 0;
}

.media-row.long-caption  > figure > a img {
	height:100%;
	margin:0;
}

.media-row.long-caption > figure > a figcaption {
	max-width:none;
    height: auto;
    bottom: 0;
    left: 0;
    position: absolute;
    margin: 0;
    display: block;
    width: 100%;
    background: #00000091;
    color: #fff;
    text-align: left;
    font-size: 12px;
    padding: 8px 5px;
    box-sizing: border-box;
}

/* BOOK DETAILS */
.title {
	font-size: 22px;
	font-weight: bold;
	margin-top:0;
}
.description {
	margin-top: 145px;
	font-style: italic;
	color:#444;
	text-indent:35px;
	font-size:14px;
}

.addbook .btn-r {
	width:90%;
	position: absolute;
	bottom:16px;
	padding-left: 0;
    padding-right: 0;
}

/* USER LIST */
.users {
	list-style: none;
	margin: 0;
    padding: 0;
}

.users > li {
	display: flex;
    justify-content: space-between;
    padding:5px 0 5px 15px;
    border-bottom: 1px solid #ccc;
}


.users > li > span {
	padding:10px 0;
}

.request-book .condition {
	font-style: italic;
}
